.details-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  .details--content {
    width: 100%;
    justify-content: flex-start;
  }

  .details--info-group {
    margin-top: 2rem;

    flex-direction: row;
  }
}

.img-cover {
  width: 100%;
  height: 55vh;
  margin-bottom: 2rem;
  margin-top: 2rem;


}

.backdrop {
  height: 100%;
  width: 100%;
}
