.form-container {
    display: flex;
    justify-content: space-around;
}

.form {

    .search {
        border-radius: 10rem;
        border: none;
        width: 40rem;
        height: 6rem;
        background-color: white;
        text-align: center;
        font-weight: 400;
        font-size: large;

        &:focus, &:hover {
            width: 50rem;
            // height: 6.5rem;
            border: none;
            transition: all .5s;

            &:not(:focus), &:not(:hover) {
                width: 40rem;
                height: 6rem;
                transition: all .5s;
            }
        }


    }
}
